/* Search.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.type-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.type-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

input[type='checkbox'] {
  cursor: pointer;
}

label {
  cursor: pointer;
  font-size: 14px;
}

#search {
  width: 100%;
  padding: 2px;
  margin-bottom: 24px;
  font-size: 24px;
  border-radius: 8px;
  border: 1px solid #d50000;
}

@media only screen and (max-width: 480px) {
  #search {
    padding: 16px;
    margin-bottom: 16px;
    font-size: 20px;
  }
}
